



*{
 box-sizing: border-box; 
}


body
{
    width: 100%;
    padding-top: 20px;
    background-color:slategray ;
    }

header
{
    margin: 10px;
    margin-bottom: 20px;
    background-color:darkgoldenrod;
}

main {
    margin: 15px;
    width: auto;
}

section img
{  
    opacity: 0.9;
    width: 30%;
    height: 350px;
    margin:1px;
    border: solid 1px;
}

#section-right  {
    margin-bottom: 30px;
    padding: 50px;
    width: 70%;
    float: right;
}
#section-left{
    margin-bottom: 30px;
    padding: 50px 20px 50px 20px;
    width: 29%;
    float: left;
}
article{
    text-align: center;
}
article p{
    text-align: left;
    font-weight: bold;
    margin: 10px;
}
input[type="submit"]
{
 margin: auto;
 margin: 10px;
 border-radius: 20px;
background-color:gray ;
color: blue;
font-size: 20px;
}


footer{
    clear: both;
    margin: 10px;
    margin-bottom: 20px;
    padding: 50px;
    background-color:gray ;
}

